$text-color: #404447;

.dashboard-cards-page {
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  color: $text-color;
  .cards__section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px 20px;
    .section-layout {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;
      .my-credit-card__panel {
        box-sizing: border-box;
        min-height: 100%;
        background-color: #fefefe;
        padding: 20px 24px;

        .panel__title {
          margin-top: 0;
          margin-bottom: 30px;
          font-size: 16px;
          color: $text-color;
          letter-spacing: 1px;
        }
        .visa__card {
          background-image: url("../images/visa-card-bg.png");
          background-position: center;
          background-size: cover;
          position: relative;
          padding: 10px 35px 20px 20px;
          color: white;
          border-radius: 3px;
          box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.1);
          margin-bottom: 35px;
          .card-content {
            position: relative;
            .title-layout {
              display: flex;
              margin-bottom: 25px;
              .visa-title {
                margin-left: -10px;
                background-color: white;
                padding: 5px 10px;
                font-size: 10px;
                line-height: 1;
                font-style: italic;
                font-weight: bold;
                color: $text-color;
                border-radius: 2px;
                letter-spacing: 1px;
              }
            }
            .visa-number-layout {
              display: flex;
              margin-bottom: 18px;
              .visa-number {
                font-size: 16px;
                letter-spacing: 2px;
                margin-right: 10px;
              }
            }
            .card__footer {
              display: flex;
              justify-content: space-between;
              font-size: 13px;
              opacity: .75;
              letter-spacing: 1px;
              .visa-date {
              }
              .visa-subash {

              }
            }
          }
          &:before {
            content: 'VISA';
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 75px;
            font-weight: bold;
            letter-spacing: 3px;
            color: white;
            opacity: .05;
          }
        }
        .divider {
          border: none;
          border-top: 1px solid #e4d6d5;
          opacity: .75;
          margin-top: 0;
          margin-bottom: 25px;
        }
        .visa-details {
          .detail-row {
            display: flex;
            font-size: 13px;
            margin-bottom: 15px;
            .detail-col {
              flex-basis: 0;
              min-width: 0;
              flex-grow: 1;
              .detail__name {
                color: #b1b5b8;
              }
              .detail__value {
                color: $text-color;
              }
            }
          }
        }
      }
      .statistics__panel {
        background-color: #fefefe;
        box-sizing: border-box;
        min-height: 100%;
        padding: 20px 24px;
        .panel__header {
          display: flex;
          align-items: center;
          .statistics__title {
            margin-top: 0;
            margin-right: auto;
            font-size: 16px;
            letter-spacing: 1px;
          }
          .statistics__year-month {
            display: flex;
            .statistics__year {
              margin-right: 25px;
            }
            .statistics__month {

            }
            select {
              font-size: 14px;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
      .credit-card-col {
        flex-basis: 316px;
        flex-grow: 1;
        padding: 0 12px;
        margin-bottom: 15px;
      }
      .statistics-col {
        min-width: 0;
        flex-basis: 500px;
        flex-grow: 100;
        padding: 0 12px;
        margin-bottom: 15px;
      }
      @media all and (max-width: 768px) {
        .credit-card-col {
          flex-grow: 1;
        }
      }
    }
  }
}
body{
  margin: 0;
}
