.dashboard-cards-page {
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  color: #404447; }
  .dashboard-cards-page .cards__section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px 20px; }
    .dashboard-cards-page .cards__section .section-layout {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px; }
      .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel {
        box-sizing: border-box;
        min-height: 100%;
        background-color: #fefefe;
        padding: 20px 24px; }
        .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .panel__title {
          margin-top: 0;
          margin-bottom: 30px;
          font-size: 16px;
          color: #404447;
          letter-spacing: 1px; }
        .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card {
          background-image: url("../images/visa-card-bg.png");
          background-position: center;
          background-size: cover;
          position: relative;
          padding: 10px 35px 20px 20px;
          color: white;
          border-radius: 3px;
          box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.1);
          margin-bottom: 35px; }
          .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card .card-content {
            position: relative; }
            .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card .card-content .title-layout {
              display: flex;
              margin-bottom: 25px; }
              .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card .card-content .title-layout .visa-title {
                margin-left: -10px;
                background-color: white;
                padding: 5px 10px;
                font-size: 10px;
                line-height: 1;
                font-style: italic;
                font-weight: bold;
                color: #404447;
                border-radius: 2px;
                letter-spacing: 1px; }
            .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card .card-content .visa-number-layout {
              display: flex;
              margin-bottom: 18px; }
              .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card .card-content .visa-number-layout .visa-number {
                font-size: 16px;
                letter-spacing: 2px;
                margin-right: 10px; }
            .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card .card-content .card__footer {
              display: flex;
              justify-content: space-between;
              font-size: 13px;
              opacity: .75;
              letter-spacing: 1px; }
          .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa__card:before {
            content: 'VISA';
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 75px;
            font-weight: bold;
            letter-spacing: 3px;
            color: white;
            opacity: .05; }
        .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .divider {
          border: none;
          border-top: 1px solid #e4d6d5;
          opacity: .75;
          margin-top: 0;
          margin-bottom: 25px; }
        .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa-details .detail-row {
          display: flex;
          font-size: 13px;
          margin-bottom: 15px; }
          .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa-details .detail-row .detail-col {
            flex-basis: 0;
            min-width: 0;
            flex-grow: 1; }
            .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa-details .detail-row .detail-col .detail__name {
              color: #b1b5b8; }
            .dashboard-cards-page .cards__section .section-layout .my-credit-card__panel .visa-details .detail-row .detail-col .detail__value {
              color: #404447; }
      .dashboard-cards-page .cards__section .section-layout .statistics__panel {
        background-color: #fefefe;
        box-sizing: border-box;
        min-height: 100%;
        padding: 20px 24px; }
        .dashboard-cards-page .cards__section .section-layout .statistics__panel .panel__header {
          display: flex;
          align-items: center; }
          .dashboard-cards-page .cards__section .section-layout .statistics__panel .panel__header .statistics__title {
            margin-top: 0;
            margin-right: auto;
            font-size: 16px;
            letter-spacing: 1px; }
          .dashboard-cards-page .cards__section .section-layout .statistics__panel .panel__header .statistics__year-month {
            display: flex; }
            .dashboard-cards-page .cards__section .section-layout .statistics__panel .panel__header .statistics__year-month .statistics__year {
              margin-right: 25px; }
            .dashboard-cards-page .cards__section .section-layout .statistics__panel .panel__header .statistics__year-month select {
              font-size: 14px;
              border: none;
              cursor: pointer; }
      .dashboard-cards-page .cards__section .section-layout .credit-card-col {
        flex-basis: 316px;
        flex-grow: 1;
        padding: 0 12px;
        margin-bottom: 15px; }
      .dashboard-cards-page .cards__section .section-layout .statistics-col {
        min-width: 0;
        flex-basis: 500px;
        flex-grow: 100;
        padding: 0 12px;
        margin-bottom: 15px; }
      @media all and (max-width: 768px) {
        .dashboard-cards-page .cards__section .section-layout .credit-card-col {
          flex-grow: 1; } }

body {
  margin: 0; }

/*# sourceMappingURL=dashboard-cards.css.map */
