.ecommerce-page {
  font-family: 'Poppins', sans-serif; }
  .ecommerce-page .hero__section {
    position: relative;
    background-color: #e9e9e9;
    overflow: hidden; }
    .ecommerce-page .hero__section .section__content {
      position: relative;
      padding: 100px 20px 40px;
      max-width: 1200px;
      margin: 0 auto; }
      .ecommerce-page .hero__section .section__content .content__main {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center; }
        .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper {
          position: relative;
          margin-right: -100px;
          margin-bottom: 20px; }
          .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .nike-title {
            margin-bottom: 30px;
            padding-right: 40px; }
            .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .nike-title img {
              max-width: 100%; }
          .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .text-bg-pattern {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: .2;
            pointer-events: none; }
          .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .shop-by-brands-layout {
            display: flex; }
            .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .shop-by-brands-layout .shop-by-brands {
              margin-left: auto;
              background-color: #82f4d3;
              position: relative; }
              .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .shop-by-brands-layout .shop-by-brands .shop-by-brands-text {
                position: relative;
                font-size: 25px;
                padding: 15px 20px;
                color: #323237;
                font-weight: bold; }
              .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper .shop-by-brands-layout .shop-by-brands:before {
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: -10px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: 2px solid #82f4d3; }
          @media all and (max-width: 768px) {
            .ecommerce-page .hero__section .section__content .content__main .main__text-wrapper {
              margin-right: 0; } }
        .ecommerce-page .hero__section .section__content .content__main .main__image-layout {
          padding-right: 50px; }
          .ecommerce-page .hero__section .section__content .content__main .main__image-layout .main__image {
            max-width: 100%; }
      .ecommerce-page .hero__section .section__content .content__aside {
        width: 330px;
        position: absolute;
        bottom: -10px;
        left: 10px;
        transform-origin: top left;
        transform: rotate(-90deg);
        font-size: 14px;
        color: #8f8f8f; }
        @media all and (max-width: 768px) {
          .ecommerce-page .hero__section .section__content .content__aside {
            width: 100%;
            position: static;
            transform: none; } }
    .ecommerce-page .hero__section:before {
      content: '';
      display: block;
      position: absolute;
      top: -100%;
      left: 50%;
      width: 100%;
      height: 300%;
      transform-origin: left center;
      transform: rotate(-20deg);
      background-color: #82f4d3; }

body {
  margin: 0; }

/*# sourceMappingURL=ecommerce-hero.css.map */
