$app-green: #82f4d3;
$text-color: #323237;
.ecommerce-page {
  font-family: 'Poppins', sans-serif;
  .hero__section {
    position: relative;
    background-color: #e9e9e9;
    overflow: hidden;
    .section__content {
      position: relative;
      padding: 100px 20px 40px;
      max-width: 1200px;
      margin: 0 auto;
      .content__main{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        .main__text-wrapper {
          position: relative;
          margin-right: -100px;
          margin-bottom: 20px;
          .nike-title{
            margin-bottom: 30px;
            padding-right: 40px;
            img {
              max-width: 100%;
            }
            //line-height: 0;
            //margin-top: 0;
            //margin-bottom: 10px;
            //padding-right: 40px;
            //color: $text-color;
            //background: url(../images/nike-pattern.PNG) no-repeat;
            //-webkit-background-clip: text;
            //-webkit-text-fill-color: $text-color;
          }
          .text-bg-pattern {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: .2;
            pointer-events: none;
          }
          .shop-by-brands-layout {
            display: flex;
            .shop-by-brands {
              margin-left: auto;
              background-color: $app-green;
              position: relative;
              .shop-by-brands-text {
                position: relative;
                font-size: 25px;
                padding: 15px 20px;
                color: $text-color;
                font-weight: bold;
              }
              &:before{
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: -10px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: 2px solid $app-green;
              }
            }
          }
          @media all and (max-width: 768px) {
            margin-right: 0;
          }
        }
        .main__image-layout {
          padding-right: 50px;
          .main__image {
            max-width: 100%;
          }
        }
      }
      .content__aside {
        width: 330px;
        position: absolute;
        bottom: -10px;
        left: 10px;
        transform-origin: top left;
        transform: rotate(-90deg);

        font-size: 14px;
        color: #8f8f8f;
        @media all and (max-width: 768px) {
          width: 100%;
          position: static;
          transform: none;
        }
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -100%;
      left: 50%;
      width: 100%;
      height: 300%;
      transform-origin: left center;
      transform: rotate(-20deg);
      background-color: $app-green;
    }
  }
}

body {
  margin: 0;
}
